:root {
  --primary-color: #311b92;
  --secondary-color: #b388ff;
  --dark-color: #0e0e0e;
  --light-color: #f2f2fd;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #f2f2fd;
  width: 99%;
  height: 100%;
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  src: local('Alegreya Medium'), local('Alegreya-Medium'), url(../assets/misc/Alegreya.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes startEntrance {
  0% {
    opacity: 0;
    transform: scale3d(0.7, 0.7, 0.7);
  }

  15% {
    opacity: 1;
    top: calc(50vh - 64px);
    transform: scale3d(1, 1, 1);
  }

  76% {
    opacity: 1;
    top: calc(50vh - 64px);
    transform: scale3d(1, 1, 1);
  }

  84% {
    left: calc(((100vw - 60px - 48px)*(0.5)) - 18px);
    top: -45px;
    transform: scale3d(0.25, 0.25, 0.25);
  }

  100% {
    left: calc(((100vw - 60px - 48px)*(0.5)) - 38px);
    top: -45px;
    transform: scale3d(0.25, 0.25, 0.25);
  }
}

@keyframes loaddots {
  0% {
    opacity: 1;
  }

  17% {
    background-color: var(--primary-color);
  }

  33% {
    background-color: var(--secondary-color);
  }

  50% {
    background-color: var(--primary-color);
  }

  66% {
    background-color: var(--secondary-color);
  }

  83% {
    background-color: var(--primary-color);
  }

  99% {
    background-color: var(--secondary-color);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loaddots-dark {
  0% {
    opacity: 1;
  }

  17% {
    background-color: var(--secondary-color);
  }

  33% {
    background-color: var(--primary-color);
  }

  50% {
    background-color: var(--secondary-color);
  }

  66% {
    background-color: var(--primary-color);
  }

  83% {
    background-color: var(--secondary-color);
  }

  99% {
    background-color: var(--primary-color);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translate3d(0%, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(27.5%, 0, 0);
    opacity: 1;
  }
}

@keyframes slidePanelIn {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0%, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInPan {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0%, 0, 0);
    opacity: 1;
  }
}

@keyframes invisible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.MainFrame {
  position: fixed;
  top: 0%;
  left: 0%;
}

.Logo {
  position: fixed;
  top: calc(50vh - 64px);
  left: calc(((100vw - 60px - 48px)*(0.5)) - 18px);
  animation: startEntrance 5s;
  animation-fill-mode: forwards;
}

.loaddots {
  display: block;
  position: fixed;
  top: calc(50vh + 64px);
  left: calc(((100vw - 60px - 48px)*(0.5)) - 18px);
  width: 128px;
  height: 32px;
  padding: 0;
  margin: 0;
}

.dot1, .dot2, .dot3, .dot4 {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  opacity: 0;
  clip-path: circle(25.0% at 50% 50%);
}

.dot1, .dot3 {
  background-color: var(--secondary-color);
  animation-name: loaddots;
  animation-duration: 3s;
  animation-delay: 0.75s;
}

.dot2, .dot4 {
  background-color: var(--primary-color);
  animation-name: loaddots-dark;
  animation-duration: 3s;
  animation-delay: 0.75s;
}

.Tag {
  color: #0e0e0e;
  font-family: 'alegreya';
  font-size: 20px;
  position: fixed;
  top: 6px;
  left: calc(((100vw - 60px - 48px)*(0.5)) + 25px);
  opacity: 0;
  animation-name: slideIn;
  animation-duration: 0.75s;
  animation-delay: 4.25s;
  animation-fill-mode: forwards;
}

.top-bar {
  position: fixed;
  left: 48px;
  width: calc(100vw - 48px);
  height: 40px;
  -webkit-app-region: drag;
}

.Nav-Panel {
  background-color: #b388ff;
  position: fixed;
  opacity: 0;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 48px;
  animation-name: slidePanelIn;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li a {
  display: block;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 48px;
  height: 48px;
  text-decoration: none;
}

.avatar {
  height: 72px;
}

.setting {
  position: fixed;
  bottom: 48px;
}

.exit {
  background-color: transparent;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: calc(100vw - 48px);
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.Pan-View {
  background-color: #fff;
  opacity: 0;
  position: fixed;
  top: 40px;
  right: 0%;
  height: calc(100vh - 40px);
  width: 60px;
  animation-name: slideInPan;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

hr {
  position: fixed;
  top: 32px;
  left: 48px;
  display: block;
  width: calc(100vw - 48px);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
  opacity: 0;
  animation-name: invisible;
  animation-duration: 0.25s;
  animation-delay: 4.75s;
  animation-fill-mode: forwards;
}

hr.style {
  height: 1px;
  border: 0;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

* {
  box-sizing: border-box;
}

.searchpad {
  position: fixed;
  top: calc((100vh / 2) - 48px);
  left: calc((100vw / 2) - 300px);
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  display: block;
  width: 600px;
  max-width: 600px;
  opacity: 0;
  animation-name: invisible;
  animation-duration: 0.5s;
  animation-delay: 4.75s;
  animation-fill-mode: forwards;
}

legend {
  position: relative;
  left: 22.36px;
  font-size: 32px;
  color: #0e0e0e;
  font-weight: 800;
  text-align: center;
  box-sizing: border-box;
  width: 555.28px;
  margin: 0;
  padding: 0;
  display: block;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  white-space: normal;
}

.form-control {
  display: block;
  width: 100%;
  height: 64px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 2.5px;
  font-size: 14px;
  appearance: none;
}
